body {
  font-family: rosario;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: playfair display;
}

.btn-dark {
  color: #2a4876;
  background-color: #ddf8e9;
  border-color: #ddf8e9;
}

.btn-dark:hover {
  color: #2a4876;
  background-color: #ddf8e9;
  border-color: #ddf8e9;
}

.brand-bg-color {
  background-color: #ddf8e9;
}

.card-img-overlay h2 {
  font-size: small;
}

/*#region image_hover_effect*/
.content {
  position: relative;
  /* width: 90%; */
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h5 {
  font-size: small;
  color: #fff;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
/*#endregion image_hover_effect*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .content-details h5 {
    font-size: medium;
  }
  .card-img-overlay h2 {
    font-size: medium;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content-details h5 {
    font-size: large;
  }
  .card-img-overlay h2 {
    font-size: large;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-details h5 {
    font-size: x-large;
  }
  .card-img-overlay h2 {
    font-size: x-large;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content-details h5 {
    font-size: xx-large;
  }
  .card-img-overlay h2 {
    font-size: 4rem;
  }
}
